/* Variables */
$grid-width: 960px;

.pattern {
  max-width: $grid-width;
  margin: 1rem auto;

  .grid {
    display: flex;
    flex-wrap: wrap;

    .cell {
      // flex-basis: 10%;
      // flex-basis: 10%;
      padding: 0.5rem;
      background-color: #ececec;
      text-align: center;
    }

    &.cols-20 { .cell { flex-basis: calc(#{$grid-width}/20); } }
    &.cols-19 { .cell { flex-basis: calc(#{$grid-width}/19); } }
    &.cols-18 { .cell { flex-basis: calc(#{$grid-width}/18); } }
    &.cols-17 { .cell { flex-basis: calc(#{$grid-width}/17); } }
    &.cols-16 { .cell { flex-basis: calc(#{$grid-width}/16); } }
    &.cols-15 { .cell { flex-basis: calc(#{$grid-width}/15); } }
    &.cols-14 { .cell { flex-basis: calc(#{$grid-width}/14); } }
    &.cols-13 { .cell { flex-basis: calc(#{$grid-width}/13); } }
    &.cols-12 { .cell { flex-basis: calc(#{$grid-width}/12); } }
    &.cols-11 { .cell { flex-basis: calc(#{$grid-width}/11); } }
    &.cols-10 { .cell { flex-basis: calc(#{$grid-width}/10); } }
    &.cols-9 { .cell { flex-basis: calc(#{$grid-width}/9); } }
    &.cols-8 { .cell { flex-basis: calc(#{$grid-width}/8); } }
    &.cols-7 { .cell { flex-basis: calc(#{$grid-width}/7); } }
    &.cols-6 { .cell { flex-basis: calc(#{$grid-width}/6); } }
    &.cols-5 { .cell { flex-basis: calc(#{$grid-width}/5); } }
  }

  &.pattern-specific-stuff {
    color: red;
  }

}